body{
  padding: 0;
  margin: 0;
box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.registration-image{
    margin-top: 0.3rem;
    margin-bottom: 02rem;
   height: 98%;
   width: 100%;
    border-radius: 5%;
}
/* image container */
.image-container{
   margin: 1rem;
    flex: 0.5;
    height: 100%;
   
}
/* form container */
.form-container{
    
    flex: 0.5;
    margin-left: 8rem;
}
/* registration/ login buttons */
.r-l-container{
    display: flex;
    background-color: rgba(47, 50, 125, 0.6);
    margin: 0.7rem 0rem 5rem 8rem;
    border-radius: 25px;
    width:10rem;
    padding: 0.7rem 1.9rem;
   justify-content: space-between;
    
}
.r-l-container button{
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
}
.r-l-container button.active{
    width: 4.5rem;
    height: 1.5rem;
    background-color: rgba(47, 50, 125, 0.6);
    border-radius: 25px;
}
/* adding padding to the components of the form container */
.form-container input{
    margin-bottom: 1.7rem;
    margin-top: 0.4rem;
    border-radius: 25px;
    width: 30vw;
    height: 3rem;
    border: 1.5px solid blue;
    padding-left: 1.4rem;
}
/* radio button style */
#l3{
   width: auto;
    height: auto;
}
/* styling the headers in form container */
.form-container h1{
  margin-left: 4rem;
   padding-left: 2rem;
}
#form-container-button{
    display: flex;
    background-color: rgba(47, 50, 125, 0.6);
    margin: 0.4rem 0rem 3rem 10rem;
    border-radius: 25px;
    width:10rem;
    padding: 0.7rem 1.7rem;
    color :white;
    justify-content: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* forget password link */
.forget-password-link{
    color:blue;
    text-decoration: none;
    margin-left: 20%;
    
}
.loremtext{
  
    margin-bottom: 5%;
}

@media (min-width: 700px) and (max-width:1000px){
  .container{
    display: flex;
    width:100vw;
    margin: 5px auto 0;
    align-items: center;
    padding-left: 5%;
    font-size: 32px;
  }
    .image-container{
        display: none;
    }
    .form-container{
      flex: 1;
        margin:5px auto 0; 
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .forget-password-link{
        margin-left: 10rem;
    }
    #form-container-button{
        padding:  1rem 2rem;
        margin-top: 10px;
    }
    .form-container input{
       width: 80vw;
       margin-top: 20px;
       margin-bottom: 40px;
    }



}